/* General Start */
@media screen and (min-width: 680px)
{
  body {
    width: 680px;
    margin: 0 auto;
    border: 0px;    
    background: rgb(223, 223, 223);
  }
}
button:hover{
  cursor:pointer;
}
hr{  
  margin: 0px;
  height: 2px;
  border: 0px;
  background: #333;
}
.App {
  text-align: center;
}
body{
  padding: 0;
  margin: 0 auto;
  background: #fff;
}
html{
  background: #555;
  font-family: 'Nanum Gothic',
  'Apple SD Neo Gothic',
  Tahoma,
  helvetica;
}
ul{
  list-style-type: none;
}

a{
  text-decoration: none;
    color:#333

}
a:visited {
  text-decoration: none;
  color:rgb(134, 134, 134)
}




/* General End */

/* Navigation Start */
.navigation_title{
  width:100%;
  height: 100%;
  margin: 0px 10%;
  text-align: left;
  color: rgb(255, 255, 53);
}
.navigation_title a{
  color: rgb(255, 255, 53);
}

.navigation_button_li button{
  border-radius: 5px;
  background-color: #333;
}

.navigation_button_li{
  margin: 10px 3px;
}
.navigation_button{
  width: 40px;
  height: 30px;
  /* border: 2px solid rgb(255, 255, 53); */
}
.navigation_buttons_holder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
}
.navigation{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333;
}

/* Navigation End */

/* ContentList Start */
.contentList_ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px;
}
.contentList_li{
  padding: 1px 0;
  list-style: none;
  width:100%;
  text-align: left;  
  height:60px;
}

.contentList_li hr {
  -webkit-text-size-adjust: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  background: #eee;
  width: 97%;
  float: right;
}

.contentList_info{
  margin: 5px 0;
  padding: 0 3%;
  display: block;
  height: 80%;
}
.contentList_subject_title{
  display: inline;
  margin-right: 10px;
}
.contentList_subject_comments{
  font-size: 0.8em;
  color: #ff5722;
}
.contentList_subject_likes{
  margin: 0px 10px;
  
}
.contentList_subject_icon{
  margin: 0px 5px;
}
.contentList_detail_uploader{
  font-size: 1em;
  color: #ff5722;
}
.contentList_subject .contentList_detail{
  height:50%;
}

.contentList_subject p{
  margin: 5px auto;
  font-size: 15px;
  color: #333;
  
}
.contentList_detail p {
  margin: 0 auto;
  font-size: 12px;
  color: #999;
}
/* ContentList End */

/* Post Start */
.post_img{
  width:60%;  
}
.post_like_button_container{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.post_like_button{
  margin: 0px 20px 20px 20px;
  width: 100px;
  border: none;
  border-radius: 5px;
}
.post_like_icon{
  margin: 15px 5px 5px 5px;
  font-size: 1.5rem;
}
.post_like_count{
  margin: 0px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
/* Post End */

/* Pages Start */


.pages_button{
  display: inline-block;
  height: 100%;
  margin: 0px 5px;
  
}

.pages_button input{
  background-color:#333;
  color: rgb(255, 255, 53);
  border-radius: 3px;
  height: 70%;   
  line-height: 20px;
  margin: 15% 0px;
}
#pages_current {
  color: #f94064;
  border: 1px #f94064 solid;

}
.pages_list{
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  background-color: #333;
  margin: 0px;
  padding: 10px;
  height: 40px;
}

/* Pages End */

/* Post Comment Start */
.post_comment_ul{
  padding: 0px;
  margin: 0px;
}
.post_comment_li{
  border-bottom: 1px #999 solid;
  padding: 2%;
  margin: 0px 1%;
}
.post_comment_subject{
  list-style: none;
  width: 100%;
  text-align: left;
  
}
.post_comment_nickname{  
  font-size: 1em;
  color: #ff5722;
}
.post_comment_time{
  margin: 5px auto;
  font-size: 0.7em;
  color: #999;
}
.post_comment_detail{
  margin: 4px 0px;
  list-style: none;
  width: 80%;
  text-align: left;
  word-wrap: break-word;
}
.post_comment_content{
  margin: 2% auto;
  
}
.post_comment_functions{
  width: 100%;
  margin-top: 5px;
  font-size: 0.5em;
  display: inline-block;
  line-height: 20px;
}
.post_comment_functions_buttons{
  float: right;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post_comment_recomment{
  float: left;
}
.post_comment_upanddown {
  border: none;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.post_comment_upanddown_count{
  display: inline;
  padding:0px 5px;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 0px;
  line-height: 20px;
}
.like {
  color: #f94064
}
.hate {
  color: rgb(102, 102, 218);
}
.post_comment_morefunction{
  float: right;
  margin: 2px 5px;
  border: none;
  background-color: #fff;
}

/* Post Comment End */

/* Post create comment */
.post_create_comment_container{
  width:100%;
}
.post_create_comment_div{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.post_create_comment_textarea {
  width: 80%;
  resize: none;
  border: 1px solid #bbb;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
}
.post_create_comment_textarea:focus{
  outline:0;
}
.post_create_comment_button{
  width: 60px;
  border: 1px solid #bbb;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor:pointer;
}
/* Post create comment End */
/* Post best comment start */
.post_best_comment_ul{
  background-color: #fce8ec;
  padding: 0px;
  margin: 0px;
}