body{
  margin: 0;
}

ul{
  list-style-type: none;
}
.content_list_item_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navigation_button_li{
  width: 90px;
  height: 60px;
  margin: 15px;
}
.navigation_button{
  width: 100%;
  height: 100%;
}
.navigation_buttons_holder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15px;
}
.navigation{
  padding:5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid orange;
  background-color: powderblue;
}

.pages_button_next input{
  margin:5px;
  width: 70px;
  height: 40px;
}
.pages_button input{
  margin:5px;
  width: 40px;
  height: 40px;
}
.pages_list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  height: 100px;
}
.App {
  text-align: center;
}

