/* General Start */
@media screen and (min-width: 680px)
{
  body {
    width: 680px;
    margin: 0 auto;
    border-left: 1px solid #262626;
    border-right: 1px solid #262626;
    background: #fff;
  }
}

.App {
  text-align: center;
}
body{
  padding: 0;
  margin: 0 auto;
  background: #fff;
}
html{
  background: #555;
  font-family: 'Nanum Gothic',
  'Apple SD Neo Gothic',
  Tahoma,
  helvetica;
}
ul{
  list-style-type: none;
}

a{
  text-decoration: none;
    color:#333

}
a:visited {
  text-decoration: none;
  color:rgb(134, 134, 134)
}




/* General End */

/* Navigation Start */
.navigation_title{
  width:100%;
  height: 100%;
  margin: 0px 3%;
  text-align: left;
}
.navigation_title a{
  color: yellow;
}

.navigation_button_li button{
  border-radius: 5px;
  border: 1px grey solid;
  background-color: #333;
}

.navigation_button_li{
  margin: 10px 3px;
}
.navigation_button{
  width: 40px;
  height: 30px;
}
.navigation_buttons_holder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
}
.navigation{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: powderblue;
}

/* Navigation End */

/* ContentList Start */
.contentList_ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px;
}
.contentList_li{
  padding: 1px 0;
  list-style: none;
  width:100%;
  text-align: left;  
  height:60px;
}

.contentList_li hr {
  -webkit-text-size-adjust: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  background: #eee;
  width: 97%;
  float: right;
}

.contentList_info{
  margin: 5px 0;
  padding: 0 3%;
  display: block;
  height: 80%;
}
.contentList_subject_title{
  display: inline;
  margin-right: 10px;
}
.contentList_subject_comments{
  font-size: 0.8em;
  color: #ff5722;
}
.contentList_detail_uploader{
  font-size: 1em;
  color: #ff5722;
}
.contentList_subject .contentList_detail{
  height:50%;
}

.contentList_subject p{
  margin: 5px auto;
  font-size: 15px;
  color: #333;
  
}
.contentList_detail p {
  margin: 0 auto;
  font-size: 12px;
  color: #999;
}
/* ContentList End */

/* Post Start */
.post_img{
  width:60%;
  
}
/* Post End */

/* Pages Start */


.pages_button{
  display: inline-block;
  height: 100%;
  margin: 0px 5px;
}

.pages_button input{
  
  color: #888;
  border-radius: 3px;
  border: 1px #ccc solid;
  height: 70%;   
  line-height: 20px;
  margin: 15% 0px;
}
#pages_current {
  color: #f94064;
  border: 1px #f94064 solid;

}
.pages_list{
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  background-color: lightgrey;
  margin: 0px;
  padding: 10px;
  height: 40px;
}

/* Pages End */


